@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Xanh+Mono&display=swap');

html {
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: #add9f4;
}

p {
    font-family: 'Xanh Mono', monospace;
}

h1 {
    font-family: 'Xanh Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
}